@import "../common//variable.scss";

.hotel-main {
  max-width: 1220px;
  margin: auto;
  padding: 0 2rem;
}

.hotel-wrap {
  display: flex;
  gap: 20px;
}

.hotel-search {
  width: 360px;
  border-radius: 10px;
  position: sticky;
  padding-top: 10px;
  top: 10px;
  height: max-content;
}

.hotel-list {
  flex: 3;
}

//Hotel-side-search

.hotel-aside {
  background-color: var(--opposite-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;

  h2 {
    color: var(--body-color);
  }
}

.hotel-aside-wrap {
  padding: 10px;
  @include flexColumn;
  gap: 1.5rem;
  padding-bottom: 15px;

  label {
    font-size: var(--primary-pSize);
    color: var(--body-color);
  }
}

.hotel-aside-search {
  @include flexColumn;
  gap: 5px;

  input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    color: var(--opposite-color);
    background-color: var(--body-color);
  }

  input:focus {
    border: 2px solid var(--opposite-color);
  }
}

.hotel-aside-date {
  @include flexColumn;
  gap: 5px;

  b {
    color: var(--opposite-color);
    padding: 12px;
    display: block;
    background-color: white;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--body-color);
    cursor: pointer;
  }
}

.hotel-aside-data {
  label {
    margin-bottom: -7px;
    display: block;
  }

  fieldset {
    border: none;
    margin-top: 15px;
    @include displayFlex;
    justify-content: space-between;
    background-color: var(--body-color);
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  span {
    color: var(--opposite-color);
    font-size: var(--secondary-pSize);
  }

  p {
    color: var(--opposite-color);
    font-size: var(--secondary-pSize);
  }
}

.hotel-aside-button {
  background-color: var(--sub-color);
  color: var(--opposite-color);
  padding: 10px;
  border-radius: 3px;
  font-size: var(--primary-pSize);
}

.hotel-aside-button:hover {
  opacity: 0.8;
}

.hotel-aside-pick {
  margin-left: 0.85rem;
}

//Price
.wrap-price {
  position: relative;
}

.price-main,
.people-main {
  position: absolute;
  background-color: var(--body-color);
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  z-index: 10;
}

.price-main {
  height: fit-content;
  padding-bottom: 10px;
  top: 0;

  input {
    padding: 4px 6px;
    color: var(--body-color);
    background-color: var(--opposite-color);
    border-radius: 5px;
  }

  h1 {
    font-size: 1rem;
  }
}

.price-head {
  @include displayFlex;
  justify-content: space-between;
  padding: 8px;

  h4 {
    font-weight: 400;
  }
}

.price-button {
  width: 93%;
  margin-top: 1rem;
  margin-left: 0.8rem;
  padding: 8px 0;
  border-radius: 5px;
  font-size: var(--secondary-pSize);
  background-color: var(--opposite-color);
  color: var(--body-color);
}

//people
.people-count {
  position: relative;
}

.people-main {
  height: fit-content;
  top: -35%;
  padding-bottom: 10px;
}

.people-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.people-sub {
  @include displayFlex;
  justify-content: space-between;
  padding: 8px;
}

.people-sub2 {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  place-items: flex-end;
}

//List
.list-main {
  margin-top: 0.8rem;
}

.list-warp {
  padding: 1rem;
  border: 2px solid var(--opposite-color);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-list {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: 10px;

  img {
    width: 280px;
    height: 220px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
  }
}

.details-head {
  @include displayFlex;
  justify-content: space-between;
  padding-right: 10px;

  h1 {
    text-transform: capitalize;
  }

  p {
    background-color: var(--opposite-color);
    color: var(--body-color);
    padding: 3px 15px;
    @include displayFlex;
    gap: 2px;
    font-weight: bold;
    border-radius: 2px;
  }
}

.list-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-foot {
  @include displayFlex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 10px;

  b {
    font-size: var(--secondary-pSize);
    background-color: rgb(185, 247, 92);
    color: gray;
    padding: 3px 8px;
    border-radius: 3px;
  }

  p {
    margin-bottom: 2px;
    font-size: var(--secondary-pSize);
  }
}

.list-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;

  h2 {
    margin-bottom: -4px;
  }

  p {
    font-size: var(--secondary-pSize);
    margin-bottom: 5px;
  }
}

.avail {
  padding: 7px 20px;
  border-radius: 3px;
  background-color: rgb(159, 71, 241);
  color: white;
  font-size: var(--secondary-pSize);
}

.avail:hover {
  background-color: rgb(154, 56, 246);
}

.sub-details {
  display: flex;
  flex-direction: column;
  gap: 2px;

  span {
    font-size: var(--secondary-pSize);
  }
}

@media (max-width: 1120px) {
  .list-list {
    img {
      width: 200px;
    }
  }
}

@media (max-width: 1060px) {
  .hotel-search {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--opposite-color);
    padding: 1rem;
    width: 400px;
    height: 100vh;
    display: none;
  }

  .hotel-list {
    height: 1700px;
  }

  .list-list {
    img {
      width: 260px;
    }
  }
}

.show-mobile {
  display: none;
}

@media (max-width: 768px) {
  .list-list {
    flex-direction: column;

    img {
      width: 100%;
      height: 180px;
    }
  }

  .show-mobile {
    display: block;
  }

  .hotel-main {
    padding: 1rem;
    padding-top: 0;
  }

  .mobile-search {
    width: 100%;
    padding: 10px 0px;
    color: var(--body-color);
    font-size: var(--secondary-pSize);
    background-color: transparent;
  }
}

@media (max-width: 520px) {
  .list-foot {
    padding-right: 0;

    p {
      font-size: 11px;
    }
    b {
      font-size: 11px;
      background-color: transparent;
      color: green;
      padding-left: 0;
    }
  }

  .list-price {
    h2 {
      font-size: 16px;
    }

    p {
      font-size: 9px;
    }
  }

  .avail {
    padding: 5px 17px;
  }

  .list-details {
    gap: 0.6rem;
  }

  .details-head {
    h1 {
      font-size: 1.4rem;
    }

    p {
      padding: 2px 10px;
    }
  }

  .sub-details {
    p {
      font-size: 15px;
    }
  }
}
