@import "../common/variable.scss";

.search-body {
  @include displayFlex;
  align-items: flex-start;
  background-color: var(--opposite-color);
  padding: 0px 10px;
  border-radius: 10px;
  padding-right: 0;
}

.mobile-button {
  width: 150px;
  background-color: blueviolet;
  height: 39.3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--opposite-color);
}

@media (max-width: 1120px) {
  .search {
    font-size: 14px;
  }
}
